[build-system]
requires = ["setuptools>=42"]
build-backend = "setuptools.build_meta"

[tool.black]
skip-string-normalization = true
target-version = ['py39']

[tool.coverage.report]
omit = [
    "tests/test_integration.py"
]

[tool.isort]
profile = "black"

[tool.mypy]
namespace_packages = true

[[tool.mypy.overrides]]
module = [
    'docker',
    'docker.errors',
    'docker.models.containers',
    'docker.models.images',
    'docker.tls',
]
ignore_missing_imports = true

[tool.pylint.messages_control]
disable = [
    'attribute-defined-outside-init',
    'duplicate-code',
    'fixme',
    'invalid-name',
    'too-few-public-methods',

    'missing-class-docstring',
    'missing-function-docstring',
    'missing-module-docstring',

    # fundamental to how pytest fixtures work
    'redefined-outer-name',
    'unused-argument'
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = """
    --black
    --isort
    --mypy
    --pylint
    -n 2
    --cov=src
    --cov=tests
    --cov-branch
    --cov-report=term-missing
    --cov-fail-under=100
    --no-cov-on-fail
"""
