:root {
  --main: {{ style['main'] }};
  --background: {{ style['background'] }};
  --text: {{ style['text'] }};
  --link: {{ style['link'] }};
}

body {
  background-color: var(--background);
  color: var(--text);
  position: relative;
  padding: 5%;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}