.captcha-row > img {
    padding: 8px;
    width: 18%;
    height: 30px;
    vertical-align:middle;
    box-sizing: content-box;
}

.captcha-row > input {
    padding: 8px;
    width: 70%;
    vertical-align:middle;
    box-sizing: content-box;
}

