NoteDecorations {
  preview-fg: #c0c5ce;
  preview-bg: #1c2733;
  status-icon: #a7adbe;
  toolbar-icon: #a7adbe;
}

QFrame#msgbar-frame,
QLabel#msgbar-folder,
QLabel#msgbar-pixels,
QLabel#msgbar-words,
QTextEdit#html,
QPlainTextEdit#plain {
  color: #c0c5ce;
  background-color: #1c2733;
}

QTextEdit[readOnly="true"]#html,
QPlainTextEdit[readOnly="true"]#plain {
  color: #a9a9a9;
}

QFrame#plain,
QFrame#html {
  border: 4px solid #1c2733;
}

QPushButton#topbar-status,
QPushButton#toolbar-icon {
  background-color: #15202b;
}

QLabel#topbar-title {
  color: #65737e;
  background-color: #15202b;
}

QLabel:active#topbar-title {
  color: #c0c5ce;
}

QPushButton#topbar-close,
QFrame#toolbar-frame,
QLabel#toolbar-spacer,
QLabel#toolbar-separator {
  color: #65737e;
  background-color: #15202b;
}

QPushButton:hover#toolbar-icon {
  background-color: #38444d;
}

QPushButton:pressed#toolbar-icon {
  background-color: #15202b;
}

QPushButton:hover#topbar-close {
  color: #96b5b4;
}

QSizeGrip,
QFrame#hotbar-frame,
QFrame#hotbar-spacer {
  background-color: #15202b;
}

QSizeGrip:hover {
  background-color: #596774;
}

QScrollBar {
  background: #38444d;
}

QScrollBar::handle {
  background: #596774;
}

QWidget#lockscreen {
  background-color: #15202b;
}

QWidget#lockscreen-frame {
  background-color: #596774;
}

QLabel#lockscreen-label {
  color: #eeeeee;
}

QLineEdit#lockscreen-input {
  background-color: #ffffff;
  color: #000000;
}

QLineEdit[error="true"]#lockscreen-input {
  background-color: #ffc7ce;
  color: #9c0006;
}
