[tool.poetry]
name = "very-cool-functions"
version = "0.1.2"
description = "various helpful and fun functions"
authors = ["Magic Man <zmartine0031@mymail.lausd.net>"]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
